<div class="form">
  <%= form_tag( {action: :update}) do %>
    <%= text_area_tag :text, '', class: "form-control", placeholder: "ここに学びを入力します", rows: 4 %>
    <%= submit_tag '学びを共有する', id: "tweet-button", class: "btn btn-large btn-primary" %>
    <span id="text-count" class="badge"></span>
  <% end %>
</div>
